header{
    background-color: #2c3e50;
    height: 80px;
    width: 100%;
}
header .container, header .container .row{
    height: inherit;
}
section{
    padding: 80px 0;
}
.banner__link--spacing::after{
    content: "-";
    display: inline-block;
    color: white;
}
.separator__star--line{
    display: inline-block;
    width: 80px;
    margin: 0 10px;
    border: 1px solid;
}
.separator__star{
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
    color: white;
}
.img{
    width: 250px;
    height: 250px;
}
#banner,#about{
    background-color: #1abc9c;
}
/* #banner{
    margin-top: 80px;
} */
.portfolio__image{
    width: 100%;
    overflow: hidden;
}
.portfolio__image--content{
    width: 100%;
}
.about__button--color{
    background-color: transparent;
}
.contact-me__button--color{
    background-color: #1abc9c;
}
#top__footer{
    background-color: #3a546d;
}
#bot__footer{
    background-color: #2c3e50;
}
#bot__footer p{
    margin-bottom: 0;
}
.debug{
    height: 50px;
    background-color: wheat;
}
.input-text{
    border: none;
    align-self: flex-end ;
}