header{
    background-color: #2c3e50;
    height: 80px;
    width: 100%;
    z-index: 1;
}
ul{
    list-style: none;
}
header .navbar{
    height: inherit;
    padding: 0;
}
header .container, header .container .row{
    height: inherit;
}
section{
    padding: 80px 0;
}
.banner__link--spacing::after{
    content: "-";
    display: inline-block;
    color: white;
}
.separator__star--line{
    display: inline-block;
    width: 80px;
    margin: 0 10px;
    border: 1px solid;
}
.separator__star{
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
    color: white;
}
.img{
    width: 250px;
}
#banner,#about{
    background-color: #1abc9c;
}
.footer__button--link{
    color: #1abc9c;
}
.portfolio__image{
    width: 100%;
    overflow: hidden;
}
.portfolio__image--content{
    width: 100%;
}
.about__button--color{
    background-color: transparent;
}
.contact-me__button--color{
    background-color: #1abc9c;
}
#top__footer{
    background-color: #3a546d;
}
#bot__footer{
    background-color: #2c3e50;
}
#bot__footer p{
    margin-bottom: 0;
}
#contact-me form input, #contact-me form textarea{
    border-width: 0 0 1px 0;
    border-color: lightgray;
    border-radius: 0;
}
#contact-me form textarea{
    height: 150px;
}
.form-floating>.form-control:not(:placeholder-shown)~label, .form-floating>.form-select~label {
    opacity: 1;
    transform: scale(1) translateY(0rem) translateX(0rem);
}
.form-floating>.form-control:focus~label{
    opacity: .65;
    transform: scale(.85) translateY(-.5rem) translateX(.15rem);
}
.footer__button--social{
    width: 50px;
    height: 50px;
    display: inline-block;
    line-height: 50px;
    vertical-align: middle;
    text-align: center;
    border: 1px solid white;
    border-radius: 50%;
}
#top__footer ul{
    padding-inline-start: 0px;
}
#portfolio .portfolio__image.overlay:hover::before{
    position: absolute;
    content: "";
    display: block;
    background-color: rgba(26, 188, 156, 0.9);
    top: 0;
    bottom:0;
    left: 0;
    right: 0;
}
#portfolio .portfolio__image.overlay:hover::after{
    position: absolute;
    content:"\f067";
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    font-size: 10rem;
    display: block;
    color: rgba(255, 255, 255, 0.9);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}